html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #261821;
}

.body-private{
    background-color: #FAFAFA;
}

/* navbar */

header{
    margin:0;
    padding: 0;
    border: none;
}

.navbar{
    background-color: #452C3C;
    background-image: none;
    border: none;
    border-radius: 0;

}

.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:link, .navbar-default .navbar-nav li a:visited{
    color:#cfcfcf;
}


.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active{
    color:#fff;
}

.navbar-default .navbar-brand{
    color: #cfcfcf;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: #fff;
}

/* body */
.body-public{
    margin: 0;
    padding: 0;
    min-height: 550px;
    height: auto !important;
    height: 550px;
    background-color: white;
}

/* login */

.login-container{
    margin-top:25px;
    height: 410px;
    border: solid 1px #c2c2c2;
}

.login-container label{
    display: block;
}

.login-container h5{
    margin-top: 15px;
}

/* carousel */
.carousel-container{
    margin-top:25px;
    border-left: 0;
    padding-left: 5px;
}

.carousel-img{
    height:410px;
}

.carousel-control.left, .carousel-control.right{
    background-color: rgba(255,255,255,0);
    background-image: none;
}

/* sign in */
.alert-warning{
    margin-top: 10px;
}

#signup-step2, #signup-step3, #signup-confirm{
    display: none;
}

#signup-submit{
    position: relative;
    right: -30%;
}

#postgraduate-list{
    margin-top: 10px;
}

#li-postgraduate-studies{
    display: none;
}

#err-field{
    display: none;
}

/* footer */
footer{
    color: #afafaf;
    border-top: 1px solid #a5a5a1;
    height: 120px;
    margin: 0;
    padding: 20px 0;
    background-color: #261821;
    font-family: 'Futura', sans-serif;;
}


@media (max-width: 1200px){
    .login-container{
        margin-top:55px;
        height: 348px;
    }

    .login-container label{
        display: none;
    }

    .carousel-container{
        margin-top: 55px;
    }

    #main-carousel{
        height:360px;
    }

}

@media (max-width: 992px){
    .body-public{
        min-height: 450px;
        height: 450px;
        margin-bottom:0;
        padding-bottom:0;
    }

    .login-container{
        margin-top:70px;
        margin-bottom:0;
        height: 267px;
    }

    .login-container hr{
        display: none;
    }

    .carousel-container{
        margin-top:70px;
        margin-bottom:0;
        height: 370px;
    }

    #main-carousel{
        height:280px;
    }
}


@media (max-width: 768px) {
    #login-button, .carousel-container{
        display: none;
    }

    .login-container{
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width: 768px){

    .navbar-header{
        width:20%;
    }

    .navbar-default .navbar-nav{
        width: 75%;
    }

    .navbar-default .navbar-nav li{
        width: 25%;
    }
}
