html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #261821;
}

.body-private{
    background-color: #FAFAFA;
}

/* navbar */

header{
    margin:0;
    padding: 0;
    border: none;
}

.navbar{
    background-color: #452C3C;
    background-image: none;
    border: none;
    border-radius: 0;

}

.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:link, .navbar-default .navbar-nav li a:visited{
    color:#cfcfcf;
}


.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active{
    color:#fff;
}

.navbar-default .navbar-brand{
    color: #cfcfcf;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: #fff;
}

/* body */
.body-public{
    margin: 0;
    padding: 0;
    min-height: 550px;
    height: auto !important;
    height: 550px;
    background-color: white;
}

/* login */

.login-container{
    margin-top:25px;
    height: 410px;
    border: solid 1px #c2c2c2;
}

.login-container label{
    display: block;
}

.login-container h5{
    margin-top: 15px;
}

/* carousel */
.carousel-container{
    margin-top:25px;
    border-left: 0;
    padding-left: 5px;
}

.carousel-img{
    height:410px;
}

.carousel-control.left, .carousel-control.right{
    background-color: rgba(255,255,255,0);
    background-image: none;
}

/* sign in */
.alert-warning{
    margin-top: 10px;
}

#signup-step2, #signup-step3, #signup-confirm{
    display: none;
}

#signup-submit{
    position: relative;
    right: -30%;
}

#postgraduate-list{
    margin-top: 10px;
}

#li-postgraduate-studies{
    display: none;
}

#err-field{
    display: none;
}

/* profile */
#profile-pic{
    width: 110px;
    height: 110px;
    display:block;
    margin:5% auto;
}
#profile-info{
    font-size: 11px;
    text-transform: capitalize;
}
#profile-name{
    font-size: 11px;
    color: #261821;
    font-weight: 500;
}

#profile-studies{
    font-weight: 500;
    color: #888;
}
.hr-small{
    margin: 5px;
}

/* searcher */
#searcher-input{
    margin-top: 9%;
    margin-bottom: 2%;
}

/* panels */
.panel-primary{
    margin: 7% 0;
}

.panel-primary .panel-heading{
    position: relative;
    top: -15px;
    width: 30%;
    height: 30px;
    margin-left: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 7px;
}
.panel-primary .panel-heading .panel-title{
    font-size: 14px;
}


#notification-panel{
    height: 400px;
}
#notification-panel .panel-default{
    margin-top: 50px;
    height: 100%;
}

/* location */
#location-map-img{
    margin: 0 auto;
}

/* footer */
footer{
    color: #afafaf;
    border-top: 1px solid #a5a5a1;
    height: 120px;
    margin: 0;
    padding: 20px 0;
    background-color: #261821;
    font-family: 'Futura', sans-serif;;
}


@media (max-width: 1200px){
    .login-container{
        margin-top:55px;
        height: 348px;
    }

    .login-container label{
        display: none;
    }

    .carousel-container{
        margin-top: 55px;
    }

    #main-carousel{
        height:360px;
    }

}

@media (max-width: 992px){
    .body-public{
        min-height: 450px;
        height: 450px;
        margin-bottom:0;
        padding-bottom:0;
    }

    .login-container{
        margin-top:70px;
        margin-bottom:0;
        height: 267px;
    }

    .login-container hr{
        display: none;
    }

    .carousel-container{
        margin-top:70px;
        margin-bottom:0;
        height: 370px;
    }

    #main-carousel{
        height:280px;
    }
}


@media (max-width: 768px) {
    #login-button, .carousel-container{
        display: none;
    }

    .login-container{
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width: 768px){

    .navbar-header{
        width:20%;
    }

    .navbar--brand-admin{
        width: 10%;
    }

    #nav-cont{
        width: 90%;
    }

    .navbar-default .navbar-nav{
        width: 80%;
    }

    .navbar-default .navbar-nav li{
        width: 25%;
    }

    .navbar-default .navbar-nav .navbar-admin{
        width: 16%;
        text-align: center;
        font-size: 14px;
    }
}
